# Backup files (from vi)
*~

# Executables
*.out
lvalue-and-rvalue
rvo
numbers-and-strings
array
lvalue-and-rvalue
rule-of-five
tuple
move-constructors
initialisation
test
copy-constructors
smart-pointers


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.a
*.lib

